<% if @reported_by == "funders"%>
  <div id="arrangements_container" class="standard_padding no_top_padding">
    <p>Preliminary report on pledges, arrangements and disbursements contributing to fast‐start financing for REDD+, as reported to the VRD by funder countries in 2012. Several countries are still processing their official figures.</p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width:150px">Country</th>
          <th>Fast‐start Pledge</th>
          <th>Fast‐start Arrangements<sup>2</sup> 2010-2012</th>
          <th>Disbursement 2010</th>
          <th>Disbursement 2011</th>
          <th>Disbursement 2012</th>
          <th style="width:190px">Comments</th>
        </tr>
      </thead>
      <tbody id="arrangements_results">
        <tr>
          <td>Australia</td>
          <td>$144M</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="comments">
            <span>Corresponding to AUD 146 million, correct exchange rate not yet confirmed. Communication on remaining data ongoing.</span>
          </td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td>$14M</td>
          <td>$14M</td>
          <td>$14M</td>
          <td></td>
          <td></td>
          <td class="comments">
            <span>USD 14 million (EUR 10 million – exchange rate 1.4 used) were pledged in FSF for REDD+ in 2010. No FSF pledges have yet been made for 2011 and 2012.</span>
          </td>
          </td>
        </tr>
        <tr>
          <td>Canada</td>
          <td></td>
          <td>$72M</td>
          <td></td>
          <td>$41M</td>
          <td>$31.5M</td>
          <td class="comments">
            <span>Canada has made no formal pledges. All FSF is reported as actual disbursements. Disbursements in 2012 include $20M to the Congo Basin Forest Fund, $5M to the FCPF Carbon Fund, $4.5M to the World Bank BioCarbon Plus Fund, and $2M for the Congo Basin Forest Partnership. Canada's financial year ends in March.</span>
          </td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td></td>
          <td>$46M</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="comments"></td>
        </tr>
        <tr>
          <td>European Commission</td>
          <td>See comment</td>
          <td>$19.6M</td>
          <td>$5.6M</td>
          <td>$14M</td>
          <td></td>
          <td class="comments">
            <span>Exchange rate 1.4 used. The EC's fast‐start pledge is &euro;50 million per annum, divided 50/50 between adaptation and mitigation. REDD+ is included under mitigation; no specific REDD+ earmarking.</span>
          </td>
        </tr>
        <tr>
          <td>Finland</td>
          <td>None</td>
          <td>$48M</td>
          <td>$7M</td>
          <td>$20M</td>
          <td>$12.5M</td>
          <td class="comments">
            <span>Finland has no formal pledges</span>
          </td>
        </tr>
        <tr>
          <td>France</td>
          <td>$342M</td>
          <td>$373M</td>
          <td>$122M</td>
          <td>$148M</td>
          <td>$103M</td>
          <td class="comments"></td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>$503M</td>
          <td>$388.8M</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="comments"></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="comments">
            <span>Data processing is nearly finalized</span>
          </td>
        </tr>
        <tr>
          <td>Japan</td>
          <td>$500M</td>
          <td>$718.6M</td>
          <td colspan="2">$302M</td>
          <td></td>
          <td class="comments">
            <span>Disbursements for the fast start period cover up to March 2011</span>
          </td>
        </tr>
        <tr>
          <td>Netherlands</th>
          <td>$21M</td>
          <td></td>
          <td>$5M</td>
          <td>$8M</td>
          <td>$8M</td>
          <td class="comments">
            <span>Regular Dutch support EUR 350 million including EUR 195 for REDD+; Additional Dutch support in scope of Copenhagen Accord EUR 310 million. WB FCPF Readiness Fund EUR 15 million (USD 21 million) is part of regular support. See also <%= link_to 'www.faststartfinance.org', 'http://www.faststartfinance.org' %></span>
          </td>
        </tr>
        <tr>
          <td>Norway</td>
          <td>$1000M</td>
          <td>$986M</td>
          <td>$461M</td>
          <td>$334M</td>
          <td>$51M</td>
          <td class="comments"></td>
        </tr>
        <tr>
          <td>Slovenia</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="comments"></td>
        </tr>
        <tr>
          <td>Spain</td>
          <td></td>
          <td>$23.95M</td>
          <td>$18.57M</td>
          <td>$1.32M</td>
          <td></td>
          <td class="comments">
            <span>Spain's fast‐start pledge is &euro;375 million in total for adaptation, mitigation, and REDD+; no specific REDD+ earmarking.</span>
          </td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>$81.9M</td>
          <td>$71M</td>
          <td>$29M</td>
          <td>$28M</td>
          <td>$14M</td>
          <td class="comments">
            <span>The Swedish fast start figures for 2010-2012 are reported in the exchange rate for 2010.  The figures are preliminary. Sweden will present final fast start figures in spring 2013. Sweden’s REDD+ support is delivered via global, regional and bilateral channels, for example  the  Forest Investment Programme (FIP),  Global Environment Facility  (GEF), regional and global programmes  such as  RFGI, PREMI, International NGOs (IIED, RRI, IUCN, AFF) and research institutions  (CIFOR, CODESRIA).</span>
          </td>
        </tr>
        <tr>
          <td>Switzerland</td>
          <td></td>
          <td>$34M*</td>
          <td>$215M</td>
          <td>$89M</td>
          <td></td>
          <td class="comments">
            <span>* Committed to global and regional initiatives, estimate as some of the commitments go beyond 2012.</span>
          </td>
        </tr>
        <tr>
          <td>United Kingdom</td>
          <td>$493M</td>
          <td>$457.9M</td>
          <td>$191.5M</td>
          <td>$87.2M</td>
          <td>$32M</td>
          <td class="comments">
            <span>UK financial year ends in March.</span>
          </td>
        </tr>
        <tr>
          <td>United States</td>
          <td>$1000M</td>
          <td>$249M</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="comments">
            <span>The 249 million USD reported arrangements concern 2010; numbers for 2011 not yet available.</span>
          </td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <i class="small">
      <sup>2</sup> These arrangements constitute those that that are viewed by the country as contributing to their fast‐start pledge.
    </i>
  </div>
<% else %>
  <p>Information only available for as reported by funders. Change to <%= link_to "reported by funders", "/#fsf_report" %>.</p>
<% end %>
