<% arrangement.years.each do |year| %>
  <td><%= arrangement.disbursement_for_year(year) %></td>
<% end %>
<td><%= "~ " if @arrangement.estimate %><%= sprintf("%#1.2f", @arrangement.total_disbursement) %></td>
