<div class="row static">
  <div class="span8">
    <h2>About the VRD</h2>

    <h3>REDD+ and the REDD+ Partnership</h3>
    <p>REDD+ is a mechanism that has been proposed under the UN Framework Convention on Climate Change (UNFCCC). The aim of REDD+ is to incentivize the reduction of emissions from deforestation and forest degradation in developing countries, as well as the conservation of forest carbon stocks, sustainable management of forests, and enhancement of forest carbon stocks. REDD+ could play a crucial role in pursuing the ultimate objective of the UNFCCC and in holding the increase in global temperature rise below 2 degrees Celsius above pre-industrial levels.</p>
    <p>In recognition of the need for parties to coordinate their efforts on REDD+, and the critical role of forests in mitigating climate change, in May 2010 the <%= link_to "REDD+ Partnership", "http://reddpluspartnership.org/en/" %> was launched at the Oslo Climate and Forest Conference hosted by Norway. This formalized an earlier call by ministers for such a partnership at the International Conference on the Major Forest Basins in Paris in March 2010. In Oslo, Heads of State and Government, ministers and other representatives from over 50 countries agreed on a framework for rapid implementation of measures for REDD+. Today, the Partnership is comprised of 75 Partner countries, and over 100 affiliated stakeholder institutions. It serves as an interim platform for the scaling up of REDD+ actions and finance among partners, and for improving effectiveness, efficiency, transparency and coordination of REDD+ initiatives and financial instruments.</p>

    <h3>The VRD</h3>
    <p>The Voluntary REDD+ Database (VRD) was formally launched at the Ministerial Meeting of the REDD+ Partnership in Nagoya, Japan, in October 2010, building on the initial data collection effort by Australia, France and Papua New Guinea launched during the Paris-Oslo process. It aims to improve transparency around REDD+, support efforts to identify and analyse gaps and overlaps in REDD+ financing, and help share experiences on REDD+. The VRD is a key provider of information to the global community on REDD+ financing, actions and results, providing the ability to search and summarise data that is submitted and updated throughout the year by Partner countries and stakeholder institutions.</p>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
