<div class="row static">
  <div class="span8">
    <h2>Contact the VRD Team</h2>
    <p>We will be glad to answer any question you have about the VRD. The VRD is managed by a team at the <%= link_to "Food and Agriculture Organization of the United Nations", "http://www.fao.org" %> and <%= link_to "UNEP World Conservation Monitoring Centre", "http://www.unep-wcmc.org" %>.</p>
    <p>Contact us at <%= mail_to "vrd@reddpluspartnership.org" %>.</p>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
