<div class="row static">
  <div class="span8">
    <h2>Frequently Asked Questions</h2>

    <h3>1. What is the Voluntary REDD+ Database?</h3>
    <p>The Voluntary REDD+ Database is a key provider of information to the global community on REDD+ financing, actions and results, providing the ability to search, summarise and visualize data. It is part of the REDD+ Partnership’s ongoing work program, and was formally launched at the Ministerial Meeting of the Partnership in Nagoya, Japan, in October 2010. It aims to improve transparency around REDD+, support efforts to identify and analyze gaps and overlaps in REDD+ financing, and help share experiences on REDD+.</p>

    <h3>2. Where do the data come from, and are they up to date?</h3>
    <p>The database was originally populated with the data collected through the REDD+ Financing and Activities Survey, released at the Oslo Climate and Forest Conference of May 2010, which established the REDD+ Partnership. Data collection rounds are called by the co-Chairs of the Partnership, in which the VRD team circulates a Questionnaire to database focal points and assists them as necessary. In 2012, an online questionnaire submission process was introduced. In addition to data submissions during questionnaire rounds, the VRD accepts submissions and updates at any time. The database is updated on an ongoing basis.</p>

    <h3>3. What currency does the site use?</h3>
    <p>For the sake of easy comparison, the financial figures are all provided in US$. Where applicable, conversion rates are given on the individual arrangement pages.</p>

    <h3>4. What is a REDD+ arrangement?</h3>
    <p>Information about arrangements forms the core of the VRD, and the summary graphs, statistics and maps given all relate to arrangements. An arrangement is an agreement to undertake REDD+ related actions, involving a funder and a recipient. These are undertaken within a certain timeframe and have an indicative budget. Countries and institutions can play both funder and recipient roles in different arrangements.</p>
    <p>Arrangements encompass all possible modalities of REDD+ funding (such as bilateral, multilateral or domestic funds, and funding to Non-Governmental Organisations [NGOs]) and may target any of the three phases of the REDD+ process.</p>

    <h3>5. Does the database collect information on REDD+ pledges?</h3>
    <p>The database features a fast-start finance table in the overview section of the site, which provides aggregate information on REDD+ pledges, arrangements and disbursements reported by Partnership funder countries for the fast-start period (2010-2012 inclusive). The table is updated on a periodic basis.</p>

    <h3>6. Why do the estimates of financing differ between reports from funders and reports from recipients?</h3>
    <p>The database allows both funders and recipients to separately report on the same arrangements. This promotes transparency by allowing the figures to be compared. However, to date most of the arrangements in the database have been reported by funders. A major reason is difference in reporting capacity, and the VRD team is following up with recipient countries that have not reported to offer assistance in completing the Questionnaire. Differences in time periods or scope of arrangements reported as REDD+ may also distort the picture. The differences do not necessarily indicate that funding commitments are not being fulfilled.</p>

    <h3>7. What quality control do you apply?</h3>
    <p>The database relies on information voluntarily submitted by countries and institutions. The database team works with respondents to ensure their information is accurately represented in the database, but does not itself carry out an external review of that information. By making the information publicly available, the database promotes transparency in REDD+ financing.</p>

    <h3>8. I wish to submit new data, or I have found an error – who do I contact?</h3>
    <p>The VRD is managed by a team at the Food and Agriculture Organization of the United Nations and United Nations Environment Programme World Conservation Monitoring Centre. If you wish to submit data or have any queries please contact us at vrd@reddpluspartnership.org</p>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
