<div class="row static">
  <div class="span8">
    <h2>Glossary</h2>
    <dl>
      <dt>Arrangement</dt>
      <dd>An arrangement is an agreement to undertake REDD+ related actions, involving a funder and a recipient. These are undertaken within a certain timeframe and have an indicative budget. Countries and institutions can play both funder and recipient roles in different arrangements.</dd>
      <dd>Arrangements encompass all possible modalities of REDD+ funding (such as bilateral, multilateral or domestic funds, and funding to Non-Governmental Organisations [NGOs]) and may target any of the three phases of the REDD+ process.</dd>

      <dt>Contribution</dt>
      <dd>In the database context, a contribution refers to REDD+ funds that have been committed, allocated or disbursed. It does not distinguish between the different funding phases.</dd>

      <dt>Country</dt>
      <dd>In the database context, this implies any country that can make a commitment, be a partner in an arrangement or implement an action.</dd>

      <dt>Disbursement</dt>
      <dd>In the database context, a disbursement is defined as the release of funds by a funder to a recipient.</dd>

      <dt>Domestic funding</dt>
      <dd>Funding reported by REDD+ countries that is spent in-country for REDD+.</dd>

      <dt>Fast-start period</dt>
      <dd>2010 – 2012 inclusive.</dd>

      <dt>Fast-start pledge</dt>
      <dd>A political announcement of intent on behalf of a country to commit a certain amount of fast-start finance to REDD+ related actions, not yet dedicated to a specific recipient.</dd>

      <dt>Incoming funding</dt>
      <dd>Reports from REDD+ countries and recipient institutions on funding provided by funder countries and institutions.</dd>

      <dt>Institution</dt>
      <dd>In the database context, this implies any institution that can make a commitment, be a partner in an arrangement or implement an action.</dd>

      <dt>Internal funding with benefits to REDD+ countries</dt>
      <dd>Reports from funder countries and institutions on funding which is spent in-country or internally in the organization (e.g. for administrative purposes, workshops, and training) but which supports activities for REDD+ countries</dd>

      <dt>Outgoing funding (unspecified or multiple recipients)</dt>
      <dd>Reports from funder countries and institutions on funding which is allocated for REDD+ activities, but for which there are no details available regarding a recipient (i.e. country or institution), or there are multiple recipients.</dd>

      <dt>Outgoing funding (unspecified recipient)</dt>
      <dd>Reports from funder countries and institutions on funding which is allocated for REDD+ activities but for which there are no details available regarding a recipient (i.e. country or institution)</dd>

      <dt>Pledge</dt>
      <dd>A political announcement of intent on behalf of a funder to commit a certain amount to REDD+ related actions, not yet dedicated to a specific recipient.</dd>

      <dt>REDD</dt>
      <dd>Reducing emissions from deforestation and forest degradation in developing countries.</dd>

      <dt>REDD+</dt>
      <dd>Reducing emissions from deforestation and forest degradation in developing countries; and the role of conservation, sustainable management of forests and enhancement of forest carbon stocks in developing countries.</dd>

      <dt>REDD+ Partnership</dt>
      <dd>A voluntary and interim platform for country partners, with the core objective to contribute to the global battle against climate change by serving as an interim platform for the Partners to scale up REDD+ actions and finance, and to that end to take immediate action, including improving the effectiveness, efficiency, transparency and coordination of REDD+ initiatives and financial instruments, to facilitate among other things knowledge transfer, capacity enhancement, mitigation actions and technology development and transfer.</dd>

      <dt>Voluntary REDD+ Database</dt>
      <dd>A publicly available voluntary database of REDD+ financing, actions and results.</dd>
    </dl>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
