<div class="row static">
  <div class="span8">
    <h2>Submitting Data</h2>
    <p>The 2012 REDD+ Partnership Questionnaire for Financing, Actions and Results was launched in July 2012. This year, respondents are encouraged to submit their responses through an online system.</p>
    <p>In order to provide data through the 2012 online questionnaire, VRD focal points are kindly requested to contact the VRD team at <%= mail_to "vrd@reddpluspartnership.org" %> to obtain a login account.</p>
    <p>Focal points that are unable to use the online questionnaire should contact the VRD Team at <%= mail_to "vrd@reddpluspartnership.org" %> for assistance.</p>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
