<div class="row static">
  <div class="span8">
    <h2>Terms and Conditions</h2>
    <p>Please cite as REDD+ Partnership (2012). The Voluntary REDD+ Database. Managed by FAO, Rome, Italy and UNEP World Conservation Monitoring Centre, Cambridge, UK. Downloaded <%= Time.now.strftime("%d %B %Y") %>.</p>

    <h3>Data</h3>
    <p>The geographic designations in the Voluntary REDD+ Database do not represent an opinion by the REDD+ Partnership, the Food and Agriculture Organization of the United Nations (FAO), the United Nations Environment Programme (UNEP), UNEP-WCMC or the UK-Registered Charity, WCMC, concerning the legal status of any country, territory or area, or concerning the delimitation of its frontiers or barriers.</p>
  </div>
  <div class="span4">
    <%= render 'menu' %>
  </div>
</div>
